extends ../layout 

block content 
    h1 Add a new destination to the database 
    form(method="post" action="/travel/add")
        div 
           label(for="name") Destination name 
           input(type="text" name="name" id="name")
        div 
           label(for="name") Destination type 
           input(type="text" name="type" id="type")
        div 
           label(for="name") Destination star 
           input(type="range" name="star" id="star" min="0" max="10" step="1")
        div 
           input(type="submit" name="submit" value="Add")